<div ng-controller="HelpController">
  <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{levelName}} Help</h4>
      </div>
      <div class="modal-body tutorial">
        <div ng-include="levelHelp" />
        </div>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
