  <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Lucy's Help</h4>
      </div>
      <div class="modal-body">
        <h3>Instructions</h3>
        <p> Type your code on the box to the left and press the "Run" button.
          Lucy will start doing what you instructed her to do. </p>

          <h3>Commands</h3>
          <pre> moveForward(x) </pre>
          <p> This will make Lucy move forward an x amount of tiles. For instance: moveForward(3) will make her walk 3 tiles</p>

          <pre>turnLeft()</pre>
          <p> This will make Lucy turn 90 degrees to <strong>her</strong> left. You don't need to give in any numbers. Just call this once and Lucy will turn in place without walking any tiles.

            <pre>turnRight()</pre>
            <p> This will make Lucy turn 90 degrees to <strong>her</strong> right. Just like turnLeft, Lucy will turn in place without walking any tiles.

              <h3>It doesn't work!!</h3>
              If your code doesn't work at first, try hitting the Reset button, changing your code and executing again. Sometimes things don't work as they are supposed to because this game was developed in under 48h and there are <strong>LOTS</strong> of bugs. But usually refreshing the page does the trick :)

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Let's get coding</button>
            </div>
          </div>
        </div>

