<div class="row">
    <div class="col-lg-12"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <h2>Your code here:</h2>
    </div>
    <div class="col-lg-7">
      <h2>See results here:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <div id="editor">
      </div>
      <br/>
      <button id="runButton" type="button" onclick="onButtonClicked()" data-state='Run' class="btn btn-success btn-lg">Run!</button>
    </div>
    <div class="col-lg-7">
      <div id="gameCanvas" />
    </div>
  </div>
